<!DOCTYPE html>
<html lang="es">

<head>
    <title>
        <%= title %>
    </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="pagina-dialogo">
    <div class="container w-50 p-5 rounded">
        <form action="" method="">
            <h1 class="text-center">CONTACTAR</h1>
            <hr>
            <input type="text" placeholder="Nombre">
            <br>
            <br>
            <input type="text" placeholder="Email">
            <br>
            <br>
            <input type="text" placeholder="Teléfono">
            <br>
            <br>
            <input type="text" placeholder="Mensaje" class="w-100" style="height: 5cm;">
            <br>
            <br>
            <div class="g-recaptcha" data-sitekey="6LcmFHkjAAAAAOVaa5j_1ITnl49LEDHH-OsuKMUe"></div>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Acepto la política de privacidad de este formulario.
                </label>
            </div>
            <br>
            <button type="submit" id="btn-login" class="btn btn-primary w-50">Enviar Mensaje</button>
        </form>
    </div>

    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/portada.js"></script>
</body>






</html>