<%- include("header", {}) %>

<div class="content row w-100">
    <div id="div-ofertas" class="col-4">
        <div class="title d-flex flex-column align-items-center justify-content-center">
            OFERTAS CERCANAS
        </div>
    </div>
    <div id="div-mapa" class="col">
        <p>Mapa</p>
    </div>
</div>

<%- include("footer", {}) %>