<%- include("header", {}) %>

    <!--Link tiene que ir primero que script-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
        </script>


    <div class="title d-flex flex-column align-items-center justify-content-center">
        Revisi칩n XD
    </div>

    <div class="content row w-100">
        <div id="div-ofertas" >
            <div class="row">
                <div class="column">
                    <div  class="title2 d-flex flex-column align-items-center justify-content-center">
                        <h5>Mis Locales</h5>
                        
                     
                     </div>
                     <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                        <h3>BAR Manolo</h3>
                        
                        <button type="button" class="btn btn-dark">Ver</button>
                        <img id="img_ofertas" src="/images/CERVEZAS.png"  width="1%">
                     
                     </div>

                     <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                        <h3>BAR PACO</h3>
                        
                        <button type="button" class="btn btn-dark">Ver</button>
                        <img id="img_ofertas" src="/images/CERVEZAS.png"  width="1%">
                     
                     </div>

                </div>
                <div class="column">
                    
                    <div  class="title2 d-flex flex-column align-items-center justify-content-center">
                        <h5>Rese침as</h5>
                                            
                     </div>

                     <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                        <h3>BAR Manolo</h3>
                        
                        <button type="button" class="btn btn-success">Ver Rese침as</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                        <img id="img_ofertas" src="/images/CERVEZAS.png"  width="1%">
                     
                     </div>


                     <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                        <h3>BAR PACO</h3>
                        
                        <button type="button" class="btn btn-success">Ver Rese침as</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                        <img id="img_ofertas" src="/images/CERVEZAS.png"  width="1%">
                     
                     </div>
                </div>
                <div class="column">

                    <div  class="title2 d-flex flex-column align-items-center justify-content-center">
                        <h5>Comentarios</h5>
                       
                     
                     </div>
                     <div  class="ofertas d-flex flex-column align-items-center justify-content-center">
                        <h3>Joselito: Me gusto</h3>
                        
                        <button type="button" class="btn btn-danger">ELIMINAR</button>
                        <img id="img_ofertas" src="/images/CERVEZAS.png"  width="1%">
                     
                     </div>

                </div>
              </div>
        </div>
    </div>

    <%- include("footer", {}) %>