<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="pagina-dialogo">
    <div class="container w-50 p-5 rounded">
        <h1 class="text-center">¿QUÉ ES OFFERTIFY?</h1>
        <hr>
        <p class="text-justify lead">
            Offertify es una aplicación de descuentos y ofertas, específicamente para bares y 
            restaurantes de la ciudad de Madrid.
        </p>
        <p class="text-justify lead">
            Encuentra tu mejor oferta para cuando tú quieras y a tus mejores clientes
        </p>
        <p class="text-center lead"><strong>¡¡¡Únete a nosotros!!!</strong></p>
        <form id="formulario" method="get" class="row">
            <div class="col d-flex justify-content-center">
                <button id="btn-contacto" class="btn btn-primary w-50">Contacto</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button id="btn-login" class="btn btn-primary w-50">Login</button>
            </div>
        </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/portada.js"></script>
</html>