body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  background-color: #cc9600;
}

.title {
  color: white;
  font-weight: bold;
  text-align: center;

  width: 100%;
  height: 5vh;

  border-style: solid;
  border-width: 1px;
  background-color: #cc9600;
}

button.btn-primary {
  background-color: #cc9600;
  border-style: solid;
  border-color: #8e6800;
}

button.btn-primary:hover {
  background-color: #eaac00;
  border-style: solid;
  border-color: #8e6800;
}

button.btn-primary:active {
  background-color: #ae8000 !important;
  border-style: solid !important;
  border-color: #8e6800 !important;
}

body.pagina-dialogo {
  background-color: #e4b637;
}

body.pagina-dialogo > div {
  background-color: white;
}

.oferta {
  /*vacio*/
}

a {
  color: #00B7FF;
}

#map {
  height: 90vh;
}

.ofertas {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;

  width: 100%;
  /*height: 15vh;*/
  padding: 1vh;

  border-style: solid;
  border-width: 2px;
  background-color: #ffffff;
}

#img_ofertas {
  margin-left: 12cm;
}



#offerBts {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}
 
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.title2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;

  width: 100%;
  height: 4vh;

  border-style: solid;
  border-width: 2px;
  background-color: #6c3e13;
}

.column2 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

#editar_local{

  border: 2px solid #000000 ;
  
}

#historicLocal {
  margin-left: 0.5cm;
  width: 19.3cm;
}

.espaciadoHistoric {
  margin-left: 0.5cm;
  width: 9cm;
}
.espaciadoChats {
  margin-left: 0.5cm;
}
#chats {
  padding-top: 13.5cm;
}

#mensaje {
  width: 16cm;
}

.dialogo {
  background-color: white;
  margin-top: 15%; 
}

#cortina {
  background-color: rgba(227, 223, 108, 0.76);
  z-index: 1;
  width: 100%;
  height: 100%;
}

